body {
    padding: 0;
    margin: 0;
    background-color: #fff9f1;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    width: 100%;
    height: 100px;
    background-color: #eae2d8;
    
    gap: 50px;
    font-family:"Montserrat",sans-serif; 
    font-weight: 500;
    color: #5c594f;
    font-size: 28px;
}

#branding{
    position: absolute;
    left: 20px;

    font-family: "Playfair Display", serif;
    font-weight: bold;
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    width: 120px;
    height: 40px;
    background-color: rgb(183, 170, 174);

    border-radius: 15px; 

    text-decoration: none;
    color: #5c594f;
}

#course{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    width: 120px;
    height: 40px;
    background-color: #eae2d8;

    border-radius: 15px; 

    text-decoration: none;
    color: #5c594f;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    width: 120px;
    height: 40px;
    background-color: #eae2d8;

    border-radius: 15px; 

    text-decoration: none;
    color: #5c594f;
}

#about:hover{
    background-color: rgb(183, 170, 174);
    transform: scale(1.05);
}

#course:hover{
    background-color: rgb(183, 170, 174);
    transform: scale(1.05);
}

#contact:hover{
    background-color: rgb(183, 170, 174);
    transform: scale(1.05);
}

#welcome{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 8vh auto;

    text-align: center;
    font-size: 50px;
}

#explain{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2vh auto;

    width: 70%;

    text-align: center;
    font-size: 25px;
}

#explanation {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    margin: 5vh auto;
    
    max-width: 600px;
    width: 70%;
    height: 30vh;
    background-color: white;

    box-sizing: border-box;
    border: 3px solid #5c594f;

    padding: 10px;
    color: #5c594f;
}

@media (max-width: 1000px){
    #topbar{
        gap: clamp(20px, 2vw, 40px);
        font-size: clamp(10px, 2.5vw, 28px);
        height: clamp(50px, 10vw, 100px);
    }

    #about{
        width: clamp(40px, 12vw, 120px);
        height: clamp(14px, 5vw, 40px);
    }

    #course{
        width: clamp(40px, 12vw, 120px);
        height: clamp(14px, 5vw, 40px);
    }

    #contact{
        width: clamp(40px, 12vw, 120px);
        height: clamp(14px, 5vw, 40px);
    }

    #welcome{
        font-size: clamp(20px, 5vw, 50px);
    }
}