body {
    padding: 0;
    margin: 0;
}

#topbar{
    width: 100%;
    height: 50px;

    border: 2px;

    border-color:#eae2d8;
    background-color: #eae2d8;
    color: #5c594f;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    box-sizing: border-box;
}

#branding{
    position: absolute;
    left: 20px;
}

#QA .question{
    width: 50%;
    height: 50vh;

    border: 4px solid;
    border-color: lightgray;
    background-color: white;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 5px;
    border-radius: 15px;

    overflow: auto;

    gap: 5px;

    font-weight: bold;
}

#QA .question button{
    width: 100%;
    border: 2px solid;

    border-color: lightgray;
    background-color: white;
    color: black;

    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 25px;
}

#QA .question button.selected{
    border-color: orange;
    background-color: orange;
    color: black;
}

.question button:hover{
    transform: scale(1.02);
}

#lineofprogress{
    position: fixed;
    bottom: 100px;

    width: 80%;
    height: 4px;

    background-color: gray;
    left: 10%;

    border-radius: 20px;
}

#progress{
    width: 25%;
    height: 100%;

    background-color: lime;

    border-radius: 20px;
}

#controls{
    position: fixed;

    width: 100%;
    bottom: 30px;

    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
}

#controls button{
    border: 2px;

    border-color: orange;
    background-color: orange;
    color: white;

    padding: 10px 20px;
    border-radius: 15px;

    transform: scale(1.2);
}

#controls button.greyedout{
    border-color: gray;
    background-color: gray;
    color: lightgray;
}

#controls button:hover{
    transform: scale(1.4)
}

#controls button.greyedout:hover{
    transform: scale(1.2);
}

#submit_confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: -500px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%px;
    min-width: 250px;
    height: 20vh;
    background-color: white;

    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 20px;

    font-size: 20px;
    gap: 20px;
    text-align: center;
    padding: 30px 20px 20px;

    opacity: 1;

    transition: opacity 1s ease, top 1s ease;
}

#submit_confirmation_buttons {
    position: absolute;

    width: 100%;
    bottom: 10px;

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#submit_confirmation_yes {
    border: 2px;

    border-color: #4bab4e;
    background-color: #4bab4e;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;
}

#submit_confirmation_no {
    border: 2px;

    border-color: #5d6573;
    background-color: #5d6573;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;
}

#score_box_overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

#score_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: fixed;
    top: -500px;
    left: 20%;
    right: 20%;

    width: 60%;
    height: 60vh;
    background-color: white;

    box-sizing: border-box;
    border: 4px solid orange;
    border-radius: 20px;

    text-align: center;
    font-size: 25px;
    gap: 25px;
    padding: 80px 20px 10px;

    transition: top 1s ease;
}

#score_return_to_dashboard {
    position: absolute;
    bottom: 20px;

    width: 30%;
    min-width: 175px;
    height: 15%;
    background-color: orange;

    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 40px;

    font-size: 20px;
    color: white;
}

@media (max-width: 800px){
    #branding{
        font-size: clamp(0.8rem, 5vw, 20px);
        width: 25vw;
    }
    #title{
        font-size: clamp(0.8rem, 5vw, 20px);
        width: 30vw; 
        text-align: center;
    }
    #score_box {
        left: 15%;
        right: 15%;

        width: 70%;

        font-size: clamp(0.8rem, 5vw, 25px)
    }
    #score_return_to_dashboard {
        font-size: clamp(0.8rem, 5vw, 20px)
    }
}