body {
    padding: 0;
    margin: 0;
}

#topbar{
    width: 100%;
    height: 50px;

    border: 2px;

    border-color:#eae2d8;
    background-color: #eae2d8;
    color: #5c594f;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    box-sizing: border-box;
}

#branding{
    position: absolute;
    left: 20px;
}

#QA .question{
    width: 72%;

    border: 2px solid;
    border-color: lightgray;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 5px;
    border-radius: 15px;

    overflow: auto;

    gap: 5px;

    font-weight: bold;
}

#QA .question button{
    width: 100%;
    border: 2px solid;

    border-color: lightgray;
    background-color: white;
    color: black;

    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
}

#QA .question button.selected{
    border-color: orange;
    background-color: orange;
    color: black;
}

.question button:hover{
    transform: scale(1.02);
}

#lineofprogress{
    position: fixed;
    bottom: 100px;

    width: 80%;
    height: 4px;

    background-color: gray;
    left: 10%;

    border-radius: 20px;
}

#progress{
    width: 25%;
    height: 100%;

    background-color: lime;

    border-radius: 20px;
}

#controls{
    position: fixed;

    width: 100%;
    bottom: 30px;

    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
}

#controls button{
    border: 2px;

    border-color: orange;
    background-color: orange;
    color: white;

    padding: 10px 20px;
    border-radius: 15px;

    transform: scale(1.2);
}

#controls button.greyedout{
    border-color: gray;
    background-color: gray;
    color: lightgray;
}

#controls button:hover{
    transform: scale(1.4)
}

#controls button.greyedout:hover{
    transform: scale(1.2);
}
