body {
    padding: 0;
    margin: 0;
    background-color: #fff9f1;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    width: 100%;
    height: 50px;
    background-color: #eae2d8;

    color: #5c594f;
    font-weight: bold;
    font-size: 20px;
}

#branding{
    position: absolute;
    left: 20px;
    font-weight: bold;
}

#darkmode{
    position: fixed;
    right: 2%;

    width: 60px;
    height: 24px;
    background-color: white;

    box-sizing: border-box;
    border-radius: 16px;
    border: 3px solid black;

    transition:  background-color 1s ease;
}

#moon{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 34px;
    top: -3px;

    width: 24px;
    height: 24px;
    background-color: white;

    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid black;

    transition: right 1s ease;
}

.moon{
    width: 16px;
    height: 16px;
}

#moon:hover{
    transform: scale(1.1);
}

#title {
    margin: 10vh auto;
    text-align: center;

    color: #5c594f;
    font-weight: bold;
    font-size: 40px;
}

#explanation {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    margin: 5vh auto;
    
    max-width: 400px;
    width: 70%;
    height: 30vh;
    background-color: white;

    box-sizing: border-box;
    border: 3px solid #5c594f;

    padding: 10px;
    color: #5c594f;
}

#controls {
    display: flex;
    align-items: start;
    justify-content: space-between;

    margin: auto;

    max-width: 400px;
    width: 70%;

    padding: 10px;
}

#controls .button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 5vh;
    background-color: white;

    border: 3px solid #5c594f;

    text-decoration: none;
    color: #5c594f;
}

#controls .button:hover {
    transform: scale(1.05);
    background-color: rgb(234, 234, 234);
}

@media (max-width: 800px){
    #branding{
        font-size: clamp(0.8rem, 5vw, 20px);
        width: 25vw;
    }

    #title {
        font-size: clamp(30px, 5vw, 40px)
    }

    #explanation {
        font-size: clamp(12px, 3vw, 16px);
    }
}
